html{
    font-size: 62.5%;
}

@media only screen and (max-width:630px) {
    html{font-size: 40%;}
    
}

@media only screen and (max-width:415px) {
    html{font-size: 35%;}
    
}

body{
    background-image: url("../assets/Texture_Fill.png");
    background-size: cover;
}